body {
  background-color: rgb(226, 224, 224);
}

.title {
  width: 100%;
  height: 5rem;
  text-align: center;
}

#img-div {
  width: 100%;
  background-color: white;
  text-align: center;
}

#img-div img {
  max-width: 100%;
  height: auto;
}

/* #tribute-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.tribute-child {
  width: 100%;
}

.tribute-child > h2 p {
  text-align: center;
}

.tribute-child p {
  width: 500px;
}

.tribute-list {
  display: table;
  margin: 0 auto;
  width: 700px;
}
